**/.idea
**/*.pyc
**/.DS_Store
*.xcuserstate
*.xcbkptlist
juce/analyser/Builds/MacOSX/Build
juce/analyser/Source/JuceLibraryCode
logic/tester/Project File Backups/
unity/playground/Assets/Particle Playground/
unity/playground/Assets/Particle Playground.meta
unity/playground/Assets/Standard Assets/
unity/playground/Assets/Standard Assets.meta
